
@font-face {
    font-family: 'GOTR';
    src:  url('../data/Game\ of\ Thrones.ttf'),
          
  }

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Libre Caslon Display', serif;
  }