@use "../../assets/sass/variables" as *;

.subTicket {
   border: 2px solid red;
   display: block;
   font-size: 18px;
   font-weight: bold;
   height: 80px;
   line-height: 80px;
   padding: 2px;
   text-align: center;}